
@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .img{
        width: 60px;
        height: 60px;
    }
</style>
@using System.Data
@model DataTable

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i>&nbsp;Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a asp-controller="MAS_Contact" asp-action="Index">Contact List</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered margin-top-10" style="width: 300%;">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">Contact List</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided">
                <a asp-controller="MAS_Contact" asp-action="Add" class="btn green"><i class="fa fa-plus"></i>&nbsp;Add Contact</a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="pull-right">
            <div id="sample_1_filter" class="dataTables_filter">
                <label>Search Any&nbsp;<input type="text" class="form-control input-sm input-small input-inline" id="sample_1"></label>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-header-fixed dataTable">
            <thead>
                <tr class="">
                    @*<th>Country ID</th>*@
                    <th class="text-center">Actions</th>
                    <th>ContactName</th>
                    <th>ContactCatagoryName</th>
                    <th>ContactAddress</th>
                    <th>ContactCountry</th>
                    <th>ContactState</th>
                    <th>ContactCity</th>
                    <th>ContactPincode</th>
                    <th>ContactMobile</th>
                    <th>ContactEmail</th>
                    <th>ContactDOB</th>
                    <th>ContactLinkedIN</th>
                    <th>ContactGender</th>
                    <th>ContactTypeOfProfession</th>
                    <th>ContactCompanyName</th>
                    <th>ContactDesignation</th>
                    <th>Photo</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Modified</th>
                </tr>
            </thead>
            <tbody id="sample_2">
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        @*<td>@dr["CountryID"]</td>*@
                        <td class="text-center">
                            <form method="post" asp-controller="MAS_Contact" asp-action="Delete">
                                <input type="hidden" name="ContactID" value=" @Convert.ToInt32(dr["ContactID"].ToString())">
                                <button type="submit" class="btn btn-danger btn-xs" onclick="return fun4();"><i class="fa fa-close"></i></button>
                                <a class="btn btn-info btn-xs" asp-controller="MAS_Contact" asp-action="Add" asp-route-contactid="@Convert.ToInt32(dr["ContactID"])"><i class="fa fa-pencil"></i></a>
                            </form>
                        </td>
                        <td>@dr["ContactName"]</td>
                        <td>@dr["ContactCategoryName"]</td>&nbsp
                        <td>@dr["ContactAddress"]</td>
                        <td>@dr["CountryName"]</td>
                        <td>@dr["StateName"]</td>
                        <td>@dr["CityName"]</td>
                        <td>@dr["ContactPincode"]</td>
                        <td>@dr["ContactMobile"]</td>
                        <td>@dr["ContactEmail"]</td>
                        <td>@dr["ContactDOB"]</td>
                        <td>@dr["ContactLinkedIN"]</td>
                        <td>@dr["ContactGender"]</td>
                        <td>@dr["ContactTypeOfProfession"]</td>
                        <td>@dr["ContactCompanyName"]</td>
                        <td>@dr["ContactDesignation"]</td>
                        <td><img src=@dr["PhotoPath"] class="img" alt="img"></td>
                        <td class="text-center">@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy hh:mm:ss")</td>
                        <td class="text-center">@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy hh:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        function fun4() {
            if (confirm("Are you sure you want to delete")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}