
@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable
<div class="col-md-12">
    <div class="row">
        <div class=" col-md-10">
            <h3>Contact Category List</h3>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided">
                <a asp-controller="ContactCategory" asp-action="Add" class="btn green"><i class="fa fa-plus"></i>&nbsp;Add ContactCategory</a>
            </div>
        </div>
    </div>
</div>
<div class="portlet-body">
    <div class="pull-right">
        <div id="sample_1_filter" class="dataTables_filter">
            <label>Search Any&nbsp;<input type="" class="form-control input-sm input-small input-inline" placeholder="Search Anything" id="sample_1" aria-controls="sample_1"></label>
        </div>&nbsp;
    </div>
</div>
<table class="table table-striped table-bordered table-hover table-header-fixed dataTable" id="sample_1">
    <thead>
        <tr>
            
            <th>ContactCategory Name</th>&nbsp
            <th>CreationDate</th>&nbsp
            <th>ModificationDate</th>
            <th>Action</th>
           
        </tr>
    </thead>
    <tbody id="sample_2">
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                
                <td>@dr["ContactCategoryName"]</td>&nbsp
                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-mm-yyyy")</td>&nbsp
                <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-mm-yyyy")</td>
                
                <td>
                    <form method="post" asp-controller="ContactCategory" asp-action="Delete">
                        <input type="hidden" name="ContactCategoryID" value=" @Convert.ToInt32(dr["ContactCategoryID"].ToString()) " />
                        <button type="submit" class=" btn btn-danger btn-xs" onclick="return fun5();"><i class="fa fa-close"></i></button>
                        <a class=" btn btn-info btn-xs" asp-controller="ContactCategory" asp-action="Add" asp-route-contactcategoryid="@Convert.ToInt32(dr["ContactCategoryID"])"><i class="fa fa-pencil"></i></a>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        function fun5() {
            if (confirm("Are you sure you want to delete")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}