@{
    ViewData["Title"] = "Contact Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MAS_ContactModel
<div class="row">
    <div class="col-md-12">
        <h3> @TempData["ContactInsertMsg"]</h3>
        <form method="post" asp-controller="MAS_Contact" asp-action="Save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.ContactID)
            @Html.HiddenFor(x=>x.PhotoPath)
            <div class="form-group">
                <label>Name</label>
                <input type="text" asp-for="ContactName" class=form-control placeholder="Enter Contact Name" />
            </div>
            <div class="form-group">
                <label>Mail</label>
                <input type="text" asp-for="ContactEmail" class=form-control placeholder="Enter EmailID" />
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" asp-for="ContactAddress" class=form-control placeholder="Enter Contact Address" />
            </div>
            <div class="form-group">
                <label>CountryName</label>
              <select class="form-control" asp-for="ContactCountryID" asp-items="@(new SelectList(ViewBag.CountryList,"ContactCountryID","CountryName"))" onchange="fnOnStateChange();">
                    <option value="">Select Country</option>*
                </select>
            </div>
            <div class="form-group">
                <label>StateName</label>
                <select class="form-control" asp-for="ContactStateID" asp-items="@(new SelectList(ViewBag.StateList,"ContactStateID","StateName"))" onchange="fnOnCityChange();">
                    <option value="0">Select State</option>
                </select>
            </div>
            <div class="form-group">
                <label>CityName</label>
                <select class="form-control" asp-for="ContactCityID" asp-items="@(new SelectList(ViewBag.CityList,"ContactCityID","CityName"))">
                    <option value="0">Select City</option>
                </select>
            </div>
            <div class="form-group">
                <label>ContactCategory</label>
                <select class="form-control" asp-for="ContactCategoryID" asp-items="@(new SelectList(ViewBag.ContactCategoryList,"ContactCategoryID","ContactCategory"))">
                    <option value="0">Select ContactCategory</option>
                </select>
           </div>
            <div class="form-group">
                <label>Pincode</label>
                <input type="text" asp-for="ContactPincode" class=form-control placeholder="Enter Pincode" />
            </div><div class="form-group">
                <label>Gender</label>
                <input type="text" asp-for="ContactGender" class=form-control placeholder="Enter Gender" />
            </div><div class="form-group">
                <label>DateofBirth</label>
                <input type="date" asp-for="ContactDOB" class=form-control placeholder="Enter DateofBirth" />
            </div><div class="form-group">
                <label>Linkedin</label>
                <input type="text" asp-for="ContactLinkedIN" class=form-control placeholder="Enter Linkedin profile name" />
            </div>
            <div class="form-group">
                <label>PhotoPath</label>
                <input class="form-control" type="file" asp-for="File" placeholder="Upload File" />
            </div>
            <hr />
            <div class="center-button"><input class="btn btn-success" type="submit" value="Save"></div>
            <div class="center-button"><a asp-controller="MAS_Contact" asp-action="Index" class="btn btn-danger">Cancel</a></div>
        </form>
    </div>
</div>
@section Scripts
    {
    <script>
        function fnOnStateChange() {
            var CountryID = $("#CountryID").val();

            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry","LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                }
                            );
                        },
                        error: function (r) {
                            alert("Error While Loading DropDown");
                        }
                    }
                );
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
    <script>
        function fnOnCityChange() {
            var StateID = $("#StateID").val();

            if (StateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByState","CON_Contact")" + "?&StateID=" + StateID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                                }
                            );
                        },
                        error: function (r) {
                            alert("Error While Loading DropDown");
                        }
                    }
                );
            }
            else {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
            }
        }
    </script>

}