@{
    ViewData["Title"] = "City Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LOC_CityModel
<div class="row">
    <div class="col-md-12">
        <h3> @TempData["CityInsertMsg"]</h3>
        <form method="post" asp-controller="LOC_City" asp-action="Save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.CityID)
            <div class="form-group">
                <label>CityName</label>
                <input type="text" asp-for="CityName" class=form-control placeholder="Enter City Name" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>CityCode</label>
                <input type="text" asp-for="CityCode" class=form-control placeholder="Enter City Code" />
            </div>
            <div class="form-group">
                <label>CountryName</label>
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="fnOnStateChange();">
                    <option value="">Select Country</option>
                </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>StateName</label>
                <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                    <option value="">Select State</option>
                </select>
                <span asp-validation-for="StateID" class="text-danger"></span>
            </div>

            <hr />
            <div class="center-button"><input class="btn btn-success" type="submit" value="Save"></div>
            <div class="center-button"><a asp-controller="LOC_City" asp-action="Index" class="btn btn-danger">Cancel</a></div>
        </form>
    </div>
</div>

@section Scripts
    {
    <script>
        function fnOnStateChange() {
            var CountryID = $("#CountryID").val();

            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry","LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                }
                            );
                        },
                        error: function (r) {
                            alert("Error While Loading DropDown");
                        }
                    }
                );
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
}